.container{
    padding: 1rem 7rem;
   
    background-color: white;
    
}
.accText > span{
    color : rgb(33, 59, 161);
    font-weight: 600;

}
.accText{
    margin: 0;
}

.searchContainer{
    background-color: #F2F2F2;
    border-radius: 50px;
    padding: 1rem 2rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 0%;
}
.searchIcon{
    margin-right: 0.5rem;
}
