.wallpaper{
    width: 100%;
    position: relative;
    height: 23vw;
    overflow: hidden;
    min-height: 15rem;
    
}

.wallpaper > img{
    position: absolute;
    object-position: center;
    filter: brightness(60%);
    width: 100%;
  height: auto;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wallpaperText{
    position: absolute;
    z-index: 2;
    margin-left: 10vw;
    bottom: 10%;
}
.navheader{
  position: absolute;
    z-index: 2;
    left: 1rem;
    right: 1rem;
    top: 10%;   
}
.navheader > button{
  margin-left: auto;
  padding: 0.3rem 0.8rem;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}
.backIcon{
  width: 35px;
  height: 35px;
}
.header{
  position: absolute;
  z-index: 200;
  margin-left: 5rem;
  bottom: 10%;

}
.wallpaperText > h1 , .wallpaperText > p{
    color: white;

}
@media only screen and (max-width: 992px) {
    .wallpaperText{
        position: absolute;
        z-index: 100;
        margin-left: 1rem;
        bottom: 10%;
    }
  }