.container{
    margin-top: 4rem;
}
.thumbIcon{
    margin-right: 0.5rem;
    width: 20px;

}
.heading{
    letter-spacing: 0.3vw;
    
    font-size: max(0.9rem , 1.25vw);

    
}
.followBtn{
    border: none;
    padding: 3px 0.8rem;
    border-radius: 20px;
    margin-left: auto;
}
.grpImg{
    margin-right: 1rem;
    width: 40px;
    height: 40px;
}
.recommendItem{
    margin-top: 2rem;
}
.seeMore{
    margin-top: 3rem;
    color: #2F6CE5;
    text-decoration: none;
}