.no-margin{
    margin: 0;
    padding: 0;
}
p{
    margin: 0%;
}

.App{
    position: relative;
}
/* .stickyheader{
    position: -webkit-sticky;
  position: sticky;
  top:0;
  background-color: white;

  z-index: 3;
} */
.sticky{
    position: -webkit-sticky;
    position: sticky;
    top:0rem;
    background-color: white;

}